body{
	padding: 0;
	margin: 0;
}

#slider-wrapper{
	width: 1500px;
    overflow: hidden;
    position:relative;
}

#slider{
	width:100000px;
}

.item-container{
	display: inline-block;
	border: 1px solid #000;
}


.navigation{
	position: absolute;
	border: 1px solid red;
	height: 20px;
	width: 20px;
} 


.navigation-prev{
	top: 50%;
	left: 0;
}

.navigation-next{
		top: 50%;
		right : 0;
	}


	.animate-next{
		margin-left: -502px;
    	transition-property: margin-left;
    	transition-duration: 9s;
	}

	.animate-prev{
		margin-right: -502px;
    	transition-property: margin-right;
    	transition-duration: 9s;
	}